# Lists: Ordered , mutable collections of elements

In [84]:
my_list = [1,2,3, "Hello", False, 4.5]
type(my_list)

list

In [85]:
print(my_list)

[1, 2, 3, 'Hello', False, 4.5]

In [86]:
my_list.append("new element")
my_list

[1, 2, 3, 'Hello', False, 4.5, 'new element']

In [87]:
my_list.remove("new element")
my_list

[1, 3, 'Hello', False, 4.5, 'new element']

In [31]:
my_list.pop(-1)
my_list

IndexError: pop from empty list

In [39]:
my_list[3]="Samantha"
my_list

[1, 2, 3, 'Samantha', False, 4.5]

# Tuples: Ordered, non-mutable collecitons of elements

In [47]:
my_tuple = ("apple", "banana", "cherry")
my_tuple

('apple', 'banana', 'cherry')

In [42]:
type(my_tuple)

tuple

In [61]:
my_tuple[1:3]

('banana', 'cherry')

# Dictionaries: Unordered, mutable collections of key-value pairs

In [96]:
my_dict1 = {
    "name": "Steven",
    "name": "Luca",
    "name": "Alessandra",
    "age": 30,
    "location": "France"
}

my_dict1

{'name': 'Alessandra', 'age': 30, 'location': 'France'}

In [62]:
my_dict1 = {
    "name": "Steven",
    "age": 30,
    "location": "France"
}

my_dict2 = {
    "name": "Alice",
    "age": 18,
    "location": "United States"
}

my_complex_list = [my_dict1,my_dict2]
my_complex_list

[{'name': 'Steven', 'age': 30, 'location': 'France'},
 {'name': 'Alice', 'age': 18, 'location': 'United States'}]

In [63]:
my_complex_list[1]

{'name': 'Alice', 'age': 18, 'location': 'United States'}

In [64]:
my_dict["location"] = my_complex_list
my_dict

{'name': 'Alice',
 'age': 18,
 'location': [{'name': 'Steven', 'age': 30, 'location': 'France'},
  {'name': 'Alice', 'age': 18, 'location': 'United States'}]}

In [70]:
my_dict["location"][0]["name"]="Alicia"
my_dict

{'name': 'Alice',
 'age': 18,
 'location': [{'name': 'Alicia', 'age': 30, 'location': 'France'},
  {'name': 'Alice', 'age': 18, 'location': 'United States'}]}

In [72]:
my_dict["location"][0]["name"][-3:]

'cia'

# Sets: Un-ordered, mutable collections of unique elements

In [73]:
my_set = {1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

In [97]:
my_set = {1,2,3,4,5,2,4,4,4}
my_set

{1, 2, 3, 4, 5}

In [79]:
30 in my_set

False

In [81]:
max(my_set)

5

In [82]:
for e in my_set:
    print(e)

1
2
3
4
5

In [83]:
my_set.add (10)
my_set

{1, 2, 3, 4, 5, 10}